a.nav-link:before{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:0;
    height:1px;
    background-color: black;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
}
a:hover:before{
    width:100%;
    transform: scaleX(1);
}
/*
**Should underline the nav links when hover but underlines entire navbar**

Not working like I want it to, but I'll keep it in because it looks nice and adds
some extra interactiveness - Austin
 */
/* theme red #d9230f */
body{
    font-family: Arial, sans-serif;
    font-size: 14px;
}
h3{
    letter-spacing: .1em;
}
/*Changes dropdown menu item on hover */
.VirtualizedSelectFocusedOption {
    font-size: 18px;
    color: black;
    letter-spacing: .1em;
}